{  
  "pageSize":"A4",
  "pageMargins":[  
    20,
    30,
    20,
    30
  ],
  "content":[  
    {  
      "margin":[  
        0,
        5
      ],
      "alignment":"justify",
      "columns":[  
        {  
          "image":"{{data.logo}}",
          "width":150
        },
        {  
          "text":"발주서",
          "style":"header",
          "alignment":"center"
        },
        {  
          "text":"",
          "width":150
        }
      ]
    },
    {  
      "margin":[  
        0,
        5
      ],
      "columns":[  
        {  
          "width":150,
          "table":{  
            "headerRows":1,
            "widths":[  
              "50%",
              "50%"
            ],
            "body":[  
              [  
                "발주번호",
                "작성일"
              ],
              [  
                "{{data.order.code.value}}",
                "{{#dateFormatter}}{{data.order.determinedDate}}{{/dateFormatter}}"
              ]
            ]
          }
        },
        {  
          "text":""
        },
        {  
          "width":150,
          "table":{  
            "headerRows":1,
            "widths":[  
              "50%",
              "50%"
            ],
            "body":[  
              [  
                "담당",
                "결재"
              ],
              [  
                "{{data.charger.name}}",
                "성경미 실장"
              ]
            ]
          }
        }
      ]
    },
    {  
      "margin":[  
        0,
        5
      ],
      "columnGap":10,
      "columns":[  
        {  
          "width":"50%",
          "stack":[  
            {  
              "text":"수신처",
              "alignment":"left",
              "style":"subHeader"
            },
            {  
              "table":{  
                "headerRows":0,
                "widths":[  
                  "15%",
                  "35%",
                  "15%",
                  "35%"
                ],
                "body":[  
                  [  
                    "이름",
                    {  
                      "text":"{{data.supplier.name}}",
                      "colSpan":3
                    },
                    "",
                    ""
                  ],
                  [  
                    "주소",
                    {  
                      "stack":[  
                        "{{data.supplierAddress.address.street}}",
                        "{{data.supplierAddress.address.detail}}",
                        "(우){{data.supplierAddress.address.postalCode}}"
                      ],
                      "colSpan":3
                    },
                    "",
                    ""
                  ],
                  [  
                    "전화",
                    "{{#phoneNumberFormatter}}{{data.supplierAddress.telephoneNumber}}{{/phoneNumberFormatter}}",
                    "FAX",
                    "{{#phoneNumberFormatter}}{{data.supplierAddress.faxNumber}}{{/phoneNumberFormatter}}"
                  ]
                ]
              }
            }
          ]
        },
        {  
          "width":"50%",
          "stack":[  
            {  
              "text":"발주처",
              "alignment":"left",
              "style":"subHeader"
            },
            {  
              "table":{  
                "headerRows":0,
                "widths":[  
                  "15%",
                  "35%",
                  "15%",
                  "35%"
                ],
                "body":[  
                  [  
                    "이름",
                    {  
                      "text":"{{data.owner.name}}",
                      "colSpan":3
                    },
                    "",
                    ""
                  ],
                  [  
                    "주소",
                    {  
                      "stack":[  
                        "{{data.ownerAddress.address.street}}",
                        "{{data.ownerAddress.address.detail}}",
                        "(우){{data.ownerAddress.address.postalCode}}"
                      ],
                      "colSpan":3
                    },
                    "",
                    ""
                  ],
                  [  
                    "전화",
                    "{{#phoneNumberFormatter}}{{data.ownerAddress.telephoneNumber}}{{/phoneNumberFormatter}}",
                    "FAX",
                    "{{#phoneNumberFormatter}}{{data.ownerAddress.faxNumber}}{{/phoneNumberFormatter}}"
                  ]
                ]
              }
            }
          ]
        }
      ]
    },
    {  
      "margin":[  
        0,
        5
      ],
      "columnGap":10,
      "columns":[  
        {  
          "width":"50%",
          "text":""
        },
        {  
          "width":"50%",
          "stack":[  
            {  
              "text":"입고처",
              "alignment":"left",
              "style":"subHeader"
            },
            {  
              "table":{  
                "headerRows":0,
                "widths":[  
                  "15%",
                  "35%",
                  "15%",
                  "35%"
                ],
                "body":[  
                  [  
                    "이름",
                    {  
                      "text":"공급사",
                      "colSpan":3
                    },
                    "",
                    ""
                  ],
                  [  
                    "주소",
                    {  
                      "stack":[  
                        "{{data.order.receiveAddress.street}}",
                        "{{data.order.receiveAddress.detail}}",
                        "(우){{data.order.receiveAddress.postalCode}}"
                      ],
                      "colSpan":3
                    },
                    "",
                    ""
                  ],
                  [  
                    "전화",
                    "{{#phoneNumberFormatter}}{{data.receiverAddress.telephoneNumber}}{{/phoneNumberFormatter}}",
                    "FAX",
                    "{{#phoneNumberFormatter}}{{data.receiverAddress.faxNumber}}{{/phoneNumberFormatter}}"
                  ]
                ]
              }
            }
          ]
        }
      ]
    },
    {  
      "text":"발주내역",
      "alignment":"left",
      "style":"subHeader"
    },
    {  
      "width":"100%",
      "table":{  
        "headerRows":1,
        "widths":[  
          "10%",
          "25%",
          "15%",
          "10%",
          "10%",
          "10%",
          "20%"
        ],
        "body":[  
          [  
            {  
              "text":"품목코드",
              "alignment":"center"
            },
            {  
              "text":"품목명",
              "alignment":"center"
            },
            {  
              "text":"공정",
              "alignment":"center"
            },
            {  
              "text":"단가",
              "alignment":"center"
            },
            {  
              "text":"수량",
              "alignment":"center"
            },
            {  
              "text":"단위",
              "alignment":"center"
            },
            {  
              "text":"비고",
              "alignment":"center"
            }
          ]
          {{#data.items}}
          ,[  
            {  
              "text":"{{item.code.value}}",
              "alignment":"center"
            },
            {  
              "text":"{{item.name}}",
              "alignment":"left"
            },
            {  
              "text":"{{process.name}}",
              "alignment":"center"
            },
            {  
              "text":"{{data.unitCost}}",
              "alignment":"right"
            },
            {  
              "text":"{{data.quantity}}",
              "alignment":"right"
            },
            {  
              "text":"{{unitLabel}}",
              "alignment":"center"
            },
            {  
              "text":"{{data.remark}}",
              "alignment":"left"
            }
          ],[
             {
               "colSpan":7,
               "width":"100%",
               "columnGap":10,
               "columns":[
                   {{#properties}}
                     {
                       stack : [
                         {
                          "style":"emphasis",
                          text: "{{key}}"
                         },
                         {{#value}}
                           "{{value}}"
                         {{/value}}
                         {{^value}}
                           "없음"
                         {{/value}}
                       ]
                     },
                   {{/properties}}

               ]
             },
             "",
             "",
             "",
             "",
             "",
             ""
           ]
          {{/data.items}}
        ]
      }
    },
    {
      "text":"재료내역",
      "alignment":"left",
      "style":"subHeader"
    },
    {
      "width":"100%",
      "table":{
        "headerRows":1,
        "widths":[
          "10%",
          "30%",
          "15%",
          "10%",
          "10%",
          "13%",
          "12%",
        ],
        "body":[
          [
            {
              "text":"품목코드",
              "alignment":"center"
            },
            {
              "text":"품목명",
              "alignment":"center"
            },
            {
              "text":"규격",
              "alignment":"center"
            },
            {
              "text":"수량",
              "alignment":"center"
            },
            {
              "text":"단위",
              "alignment":"center"
            },
            {
              "text":"공급사",
              "alignment":"center"
            },
            {
              "text":"공급예정일",
              "alignment":"center"
            }
          ]
          {{#data.materials}}
          ,[
            {
              "text":"{{item.code.value}}",
              "alignment":"center"
            },
            {
              "text":"{{item.name}}",
              "alignment":"left"
            },
            {
              "text":"{{data.itemSpecCode.value}}",
              "alignment":"center"
            },
            {
              "text":"{{data.quantity}}",
              "alignment":"right"
            },
            {
              "text":"{{unitLabel}}",
              "alignment":"center"
            },
            {
              "text":"{{supplier.name}}",
              "alignment":"left"
            },
            {
              "text":"{{#dateFormatter}}{{data.estimatedSupplyDate}}{{/dateFormatter}}",
              "alignment":"left"
            }
          ]
          {{/data.materials}}
        ]
      }
    },
    {  
      "text":"비고",
      "alignment":"left",
      "style":"subHeader"
    },
    {  
      "widths":[  
        "100%"
      ],
      "heights":40,
      "table":{  
        "widths":[  
          "100%"
        ],
        "body":[  
          [  
            "{{data.order.remark}}"
          ]
        ]
      }
    }
  ],
  "styles":{  
    "header":{  
      "fontSize":20,
      "bold":true,
      "margin":[  
        0,
        0,
        0,
        10
      ]
    },
    "subHeader":{  
      "fontSize":15,
      "bold":true,
      "margin":[  
        0,
        10,
        0,
        5
      ]
    },
    "emphasis":{
      "fontSize":13,
      "bold":true
    },
    "tableHeader":{  
      "bold":true,
      "fontSize":13,
      "color":"black"
    }
  },
  "defaultStyle":{  
    "fontSize":10,
    "font":"Malgun Gothic"
  }
}
