files:
  "/etc/cron.d/cloud-watch-mon":
    mode: "000644"
    owner: root
    group: root
    content: |
        */1 * * * * root /var/app/aws-scripts-mon/mon-put-instance-data.pl --mem-used-incl-cache-buff --mem-util --mem-used --mem-avail --from-cron --disk-path=/

commands:
  00_yum_install:
    cwd: /var/app
    command: yum install -y perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https perl-Digest-SHA.x86_64
  01_wget_mon_scripts:
    cwd: /var/app
    command: wget --no-check-certificate --content-disposition https://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.2.zip
  03_unzip_mon_scripts:
    cwd: /var/app
    command: unzip -o CloudWatchMonitoringScripts-1.2.2.zip
  04_rm_mon_scripts:
    cwd: /var/app
    command: rm CloudWatchMonitoringScripts-1.2.2.zip
